<div class="container mt-5">
    <div class="row">
        <div class="col-12 medium-list">
            <mat-card>
               <form name="user" #user="ngForm" (ngSubmit)="user.valid && loginUser(user.value)">
                <div class="list-view text-center">
                    <div class="list-header">
                            <h2 class="bounceOut">Login-Page</h2>
                    </div>
                <div class="form-container">
                <mat-form-field>
                    <input type="email" matInput placeholder="Enter your Username" id="username" name="username" [(ngModel)]="username" autocomplete="none" required>
                </mat-form-field>
                <mat-form-field>
                    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" id="password" name="password" [(ngModel)]="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    </mat-form-field>
            <button type="submit" mat-raised-button class="mat-primary" [disabled]="!user.valid">Login</button>
            <div>
                    <p class="divider">Create a new account</p>
                        <button type="button" routerLink="/signup" mat-fab class="mat-warn">Register</button>
                </div>
                    </div>
            </div>
               </form>
            </mat-card>
        </div>
    </div>
</div>
