<div class="container">
        <h1 class="text-center text-info">Order-Lists</h1>
    <div class="row mt-5">
        <div class="col-12">
            <div class="table-responsive">
                <table class="table table-hover text-success text-center table-striped">
                        <thead class="bg-dark text-info">
                            <th>ProductId</th>
                            <th>ProductName</th>
                            <th>KiloGrams</th>
                            <th>per/kg-Prize</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let pro of view;let i = index">
                                <td>{{i+1}}</td>
                                <td>{{pro.productName}}</td>
                                <td>{{pro.weight}}</td>
                                <td>{{pro.price}}</td>
                                <td><a class="btn text-success" [routerLink]="['/order-edit/',pro._id]"><i class="material-icons">edit</i></a></td>
                                <td><a class="btn text-danger"><i class="material-icons" (click)="del(pro._id)">delete</i></a></td>
                            </tr>
                        </tbody> 
                    </table>
                    </div>
                    <button class="btn btn-primary" routerLink="/order">Go To Order</button>
        </div>
    </div>
</div>
<router-outlet></router-outlet>